#signIn{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    font-family: system-ui;
}
#signinInfo{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 25%;
    background: white;
    height: 100%;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}
#usernameDiv, #passwordDiv,#emailDiv{
    display: flex;
    flex-direction: column;
    background: rgb(243, 244, 246);
    margin: 2%;
    border-radius: 5%;
    padding: 2%;
    padding-left: 0px;
}
h1{
    display: flex;
    justify-content: center;
}

#signinForm{
    display: flex;
    flex-direction: column;
}
#usernameInput, #passwordInput,#fullNameInput,#emailInput{
    background: rgb(243,244,246);
    border: none;
}
#submitButton{
    background-color: rgb(230, 71, 28);
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    height: 38px;
    margin: 2%;
}
label,input{
    margin-left: 2%;
}
img{
    width: 25%;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    height: 100%;
}
#SigninWith{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#googleSignIn{
    background-color: rgb(254, 241, 241);
    border: none;
    border-radius: 5px;
    background-image: url(../pictures/google_2991163.png);
    background-size: contain;
    width: 100px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin:2%
}
#facebookSignIn{
    background-color: rgb(243, 246, 251);
    border: none;
    border-radius: 5px;
    background-image: url(../pictures/facebook_1077041.png);
    background-size: contain;
    width: 100px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin:2%
}
#appleSignIn{
    background-color: rgb(243, 244, 246);
    border: none;
    border-radius: 5px;
    background-image: url(../pictures/apple_1532444.png);
    background-size: contain;
    width: 100px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    margin:2%
}
#buttonDiv{
    display: flex;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    flex-direction: column;
    height: 100vh;
    display: flex;
    justify-content: center;
  }
/* -------------------------------------- */
.navBar {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    color: black;
    align-items: center;
    }
    #leftNavBar,
    #rightNavBar {
      display: flex;
      align-items: center;
    }
    
    #centerNavBar {
      text-align: center;
    }
    
    #centerNavBar img {
      width: 100px;
    }
    
    #cmdNav {
      color: black;
      margin: 5px;
      text-decoration: none;
    }
    #cmdNav:hover{
      color: black;
      margin: 5px;
      text-decoration: underline;
    }
    
    .menu-icon {
      display: none;
      font-size: 24px;
      color: black;
      cursor: pointer;
    }
    
    .sidebar {
      display: none;
      position: fixed;
      right: 0;
      top: 0;
      height: 100%;
      width: 250px;
      background-color: #333;
      padding-top: 60px;
      z-index: 1000;
      transform: translateX(100%); /* Masquer la sidebar par défaut à droite */
      transition: transform 0.3s ease-in-out;
    }
    .sidebar.open {
      transform: translateX(0); 
    }
    .close-btn {
      position: absolute;
      top: 10px;
      right: 20px;
      background-color: transparent;
      border: none;
      font-size: 30px;
      color: white;
      cursor: pointer;
    }
    
    .close-btn:focus {
      outline: none;
    }
    
    .sidebar ul {
      list-style-type: none;
      padding: 0;
    }
    
    .sidebar ul li {
      padding: 10px;
      text-align: left;
      text-align: center;
    }
    
    .sidebar ul li a {
      color: white;
      text-decoration: none;
    }
    #nbFav {
      position: absolute;
      top: -5px;
      right: 28px;
      border-radius: 100px;
      background-color: #e5757f;
    }
    
    /* Media Query for littler screen */
    @media (max-width: 1299px) {
      #cmdNav {
        display: none;
      }
      #imgIconNavBar,#centerNavBar {
        display: inline; /* Assurez-vous que l'image reste visible */
      }
      a#newsletter-button{
        color: white;
      }
      .navBar {
        justify-content: space-between;
        padding: 10px 20px;
      }
    
      #rightNavBar {
        display: none;
      }
      .menu-icon {
        display: block;
      }
    
      .sidebar {
        /* display: none; */
        color: white;
      }
    
      .sidebar.open {
        display: block;
      }
    }
    
    /* Media Query for bigger screen */
    @media (min-width: 1300px) {
      .sidebar {
        display: none;
      }
      .menu-icon {
        display: none;
      }
      .fa-solid.fa-bars.menu-icon {
        display: none;
      }
      a#newsletter-button{  
        color: black;
      }
    }
    #login, #calendar,#MapView,#coaches {
      display: flex;
      align-items: center;
      padding: 15px;
      font-size: large;
      text-decoration: none;
    }